body {
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(135deg, #fbd3e9, #c6d4f5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.forgotpassword-card {
    width:500px;
    height:300px;
    background-color: white;
    box-shadow:8px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius:20px;
    padding : 30px 30px 30px 30px;
}
.heading {
    display:flex;
    margin-bottom:20px;
}
.logo {
    width:60px;
    height:60px;
    background-color: black;
    border-radius: 100%;
    background-image: url('Pixie_Plannner_Logo.jpg');
    background-position: center;
    background-size: cover;
    margin-right:100px;
}
.forgotpassword-card:hover {
    box-shadow : 10px 10px 30px hotpink;
}
#email{
    width:300px;
    padding:10px 10px 10px 10px;
    border:1px solid black;
    border-radius:8px;
    cursor:pointer;
}
.sendresetlink {
    width:300px;
    height:40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Comfortaa',cursive;
    background-color:#ff69b4;
    border-radius:25px;
    margin-left:auto;
    display:block;
    margin:auto;
    border:none;
    cursor:pointer;
}
.sendresetlink:hover {
    background-color:#ff1493;
}