body {
    height:100vh;
    font-family: 'Comfortaa',cursive;
    background: linear-gradient(135deg, #fbd3e9, #c6d4f5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-card {
    width:500px;
    height:650px;
    background-color: white;
    box-shadow:8px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius:20px;
    padding : 30px 30px 30px 30px;
}
.logo {
    width:60px;
    height:60px;
    background-color: black;
    border-radius: 100%;
    background-image: url('Pixie_Plannner_Logo.jpg');
    background-position: center;
    background-size: cover;
    margin-right:150px;
}
.signup-card:hover {
    box-shadow : 10px 10px 30px hotpink;
}
.heading {
    display:flex;
}
.subheading {
    text-align:center;
}
#fullname,#email,#password,#confirm-password{
    width:300px;
    padding:10px 10px 10px 10px;
    border:1px solid black;
    border-radius:8px;
    cursor:pointer;
}
a {
    text-decoration: none;
}
.signup-btn {
    width:400px;
    height:40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Comfortaa',cursive;
    background-color:#ff69b4;
    border-radius:25px;
    margin-left:auto;
    display:block;
    margin:auto;
    border:none;
    cursor:pointer;
}
.signup-btn:hover {
    background-color: #ff1493;
}
 .Google-signup {
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background-color: #c6d4f5;
    border-radius: 25px;
    margin: auto;
    display: flex;              
    align-items: center;         
    justify-content: center;     
    gap: 10px;                   
    border: none;                
    cursor: pointer;            
}
.Google-signup:hover {
    background-color: #aabbe0;
}